#request{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
#request .heading{
    margin-top:20px;
    display:flex;
    border-radius:3px;
    font-size:17px;
    width: 100%;
    list-style:none;
    float:left;
    text-align:center;
    background-color:black;
    color: white;
    cursor: pointer;
}

#request .heading .serial{
    padding:2%;
    width: 18%;
}
#request .heading .username{
    padding:2%;
    width: 48%;
}
#request .heading .password{
    padding:2%;
    width: 48%;
}
#request .heading .action{
    padding:2%;
    width: 12%;
}
#request #requestedFiles .files{
    display: flex;
}
#request #requestedFiles .files .data{
    margin-top:20px;
    display:flex;
    border-radius:3px;
    font-size:17px;
    width: 100%;
    list-style:none;
    float:left;
    box-shadow:0 0 2px 0;
    text-align:center;
    cursor: pointer;
}
#request #requestedFiles .files  .data .serial{
    padding:2%;
    width: 15%;
}
#request #requestedFiles .files  .data .fileName{
    padding:2%;
    width: 38%;
}
#request #requestedFiles .files .data .user{
    padding:2%;
    width: 35%;
}
#request #requestedFiles .files .permission button{
    margin-top:20px;
    margin-left:20px;
    width: 100px;
    height: 52px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    background: black;
    color: white;
    border-radius: 3px;
    transition: 0.3s;
}
#request #requestedFiles .files .permission button:hover{
    background: black;
    color: black;
    background: white;
    border:3px solid black;
}